{% load boost %}
    <style>
        table {
            table-layout: fixed;
        }

        td > div {
            height: 100px;
            overflow: auto;
            white-space: nowrap;
        }
        p {
          font-size:11px;
        }

      </style>
      <div>
        <font size="5">{{ month_current | date:"y年" }}</font>
      </div>

      <div style="width:95%">
      <div class="text-center">
      <a href="{% url 'schedule:create_schedule' month_previous.year month_previous.month%}">前月</a>
      <font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font size='6'>{{ month_current | date:"m月" }}</font>
      <font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
      <a href="{% url 'schedule:create_schedule' month_next.year month_next.month%}">次月</a>
      </div>
      </div>
      <table class="table">
      <thead>
      <tr>
          {% for w,c in week_names|zip:color %}
            <th class="{{c}}">{{ w }}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for week_day_schedles in month_day_schedules %}
          <tr>
              {% for day, schedules in week_day_schedles.items %}
                  {% if now == day %}
                      <td class="table-success">
                  {% elif forloop.first %}
                      <td style="background-color:rgba(247,173,195,0.2)">
                  {% elif forloop.last %}
                      <td style="background-color:rgba(204,230,255,0.4)">
                  {% else %}
                      <td>
                  {% endif %}

              <div>
                  {% if month_current.month != day.month %}
                      <a href ="{% url 'schedule:create_schedule' day.year day.month day.day%}">{{ day | date:"m/d" }}</a>
                  {% else %}
                      <a href ="{% url 'schedule:create_schedule' day.year day.month day.day%}">{{ day.day }}</a>
                  {% endif %}

                  {% for schedule in schedules %}
                  {% if schedule.summary == 'バイト' %}
                  <p><div style='background-color:red'><font size="1">{{ schedule.Nickname }}:{{ schedule.summary }}</font></p></div>
                  {% else %}
                  <p><font size="1">{{ schedule.Nickname }}:{{ schedule.summary }}</font></p>
                  {% endif%}
                  {% endfor %}
              </div>
              </td>
              {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
      </table>
